h1 {
    font-family: 'Pacifico', cursive;
    max-width: 100%; 
    color: rgb(70, 70, 70);
    font-weight: bold;
}

h2 {
    font-family: 'Pacifico', cursive;
    max-width: 100%; 
    color: rgb(70, 70, 70);
    font-weight: bold;
}

h3 {
    font-family: 'Pacifico', cursive;
    max-width: 100%; 
    color: rgb(70, 70, 70);
    font-weight: bold;
 }

h4 {
    font-family: 'Pacifico', cursive;
    max-width: 100%; 
    color: rgb(70, 70, 70);
    font-weight: bold;
 }

p {
    font-family: 'Crimson Text', serif;
    max-width: 100%; 
    font-weight: bold;
 }

 a {
    font-family: 'Crimson Text', serif;
    max-width: 100%; 
 }

 .brandFont {
    font-family: 'Pacifico', cursive;
    max-width: 100%; 
    color: rgb(70, 70, 70);
    font-weight: bold;
}